// COLORS //
$primary-color: #33292a;
$secondary-color: white;
$third-color: #d3cdc547;

// FONTS //
$main-font: Arial, Helvetica, sans-serif;

// SIZES //
$main-size: 16px;

// BREAKPOINTS //
$sm-screen: 576px; // Small screen breakpoint
$md-screen: 768px; // Medium screen breakpoint
$lg-screen: 992px; // Large screen breakpoint
$xl-screen: 1200px; // Extra large screen breakpoint