:root {
    --primary-color: #33292a;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    width: 100%;
}

h2 {
    font-size: 32px;
}

.center {
    margin: 0 auto;
    width: 70%;
}

/* NAVIGACE */
nav {
    background-color: var(--primary-color);
    font-weight: bold;
    height: 40px;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    font-size: 16px;
    height: auto;
}

nav a {
    color: white;
    text-decoration: none;
    flex-direction: row;
    margin: 8px;
}

.menu {
    display: none;
    height: 35px;
    width: 30px;
    margin-left: auto;
    padding: 7px;
}

.menu img {
    height: 100%;
    width: 100%;
}

@media (max-width: 768px) {
    nav ul {
        display: none;
    }
    .menu {
        display: block;
    }
}

/* TEXT S OBRAZKEM V POZADÍ */
.hero-container {
    background-image: url(./images/scott-goodwill-y8Ngwq34_Ak-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 70vh;
    margin-bottom: 20px;
}

.hero-text {
    height: 100%;
    margin: 0 auto;
    position: relative;
}

h1 {
    color: white;
    position: absolute;
    bottom: 35px;
    right: 30px;
    font-size: 50px;
    text-align: right;
}

@media (max-width: 768px) {
    h1 {
        font-size: 40px;
    }
}

/* ABOUT US */
.about-center {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-bottom: 50px;
    flex-direction: row;
}

.about-text {
    flex: 1;
    text-align: justify;
}
.about-img {
    flex: 1;
}

img {
    max-width: 100%;
    height: 100%;
}

@media (max-width: 768px) {
    .about-center {
        flex-direction: column;
    }
}


/* WHAT WE DO */
.what-we-do {
    background-color: var(--primary-color);
}

.what-center {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.what-text {
    color: white;
    text-align: center;
    margin-top: 50px;
}

.what-text p {
    text-align: justify;
    margin: 10px;
}

.icons-container {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: space-between;
    flex-direction: row;
    color: white;
    text-align: center;
    margin-top: 50px;
}

@media (max-width: 768px) {
    .icons-container {
        flex-direction: column;
    }
}

.icon-container {
    flex: 1;
    margin-bottom: 30px;
}

.icon-container img {
    height: 50px;
}

.icon-img {
    margin: 13px;
}

/* OUR TRIPS */
.trips {
    margin-bottom: 40px;
}

/* WHERE TO GO */
.where-to-go {
    background-color: var(--primary-color);
    color: white;
    height: auto;
    padding-top: 50px;
    padding-bottom: 50px;
}

.where-center {
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
}

.text-wrapper {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.title {
    flex: 1;
}

.text {
    flex: 1;
    margin: 10px;
}

.button-wrapper span {
    background-color: white;
    color: black;
    padding: 10px;
    border-radius: 8px;
}

.button-wrapper span:hover {
    background-color: var(--primary-color);
    color: white;
    border: 3px solid white;
}

@media (max-width: 768px) {
    .text-wrapper {
        flex-direction: column;
    }
}

/* REVIEWS */
.reviews-center {
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.reviews-container {
    display: flex;
    gap: 20px;
}