* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  line-height: 1.5;
}

body {
  background-color: white;
  font-size: 16px;
  width: 100%;
}

.center {
  width: 70%;
  margin: 0 auto;
}

nav {
  background-color: #33292a;
  font-weight: bold;
  height: 40px;
  display: flex;
  align-items: center;
}
nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  list-style-type: none;
  font-size: 16px;
  height: auto;
}
@media (max-width: 768px) {
  nav ul {
    display: none;
  }
}
nav ul li {
  margin: auto 0;
}
nav ul li a {
  color: white;
  text-decoration: none;
  margin: 8px;
}
nav .menu {
  display: none;
  height: 35px;
  width: 30px;
  margin-left: auto;
  padding: 7px;
}
@media (max-width: 768px) {
  nav .menu {
    display: block;
  }
}
nav .menu img {
  width: 100%;
  height: 100%;
}

.hero-container {
  background-image: url("./images/scott-goodwill-y8Ngwq34_Ak-unsplash.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: calc(100vh - 40px);
  height: 70vh;
  margin-bottom: 20px;
  position: relative;
}
.hero-container .hero-text h1 {
  color: white;
  font-size: 50px;
  text-align: right;
  position: absolute;
  bottom: 70px;
  right: 15%;
}
@media (max-width: 768px) {
  .hero-container .hero-text h1 {
    font-size: 40px;
  }
}

.about-center {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 50px;
  margin-bottom: 50px;
}
@media (max-width: 768px) {
  .about-center {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
  }
}
.about-center .about-text {
  text-align: justify;
  flex: 1;
}
.about-center .about-img {
  background-image: url("./images/anneliese-phillips-uv4-vl3liKM-unsplash.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 5px;
  flex: 1;
  height: 300px;
  width: calc(50% - 20px);
}
@media (max-width: 768px) {
  .about-center .about-img {
    width: 100%;
  }
}

.what-we-do {
  background-color: #33292a;
}
.what-we-do .what-center {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 50px;
}
.what-we-do .what-center .what-text {
  color: white;
  text-align: center;
  margin-top: 50px;
}
.what-we-do .what-center .what-text p {
  text-align: justify;
  margin: 10px;
}
.what-we-do .icons-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
  color: white;
  text-align: center;
  margin-top: 50px;
}
@media (max-width: 768px) {
  .what-we-do .icons-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
  }
}
.what-we-do .icons-container .icon-container {
  flex: 1;
  margin-bottom: 30px;
}
.what-we-do .icons-container .icon-container .icon-img {
  margin: 13px;
}
.what-we-do .icons-container .icon-container .icon-img img {
  height: 50px;
}

.trips {
  margin: 40px;
}
.trips .trips-center {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
@media (max-width: 768px) {
  .trips .trips-center {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
}
.trips .trips-center .img1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: rgba(211, 205, 197, 0.2784313725);
}
.trips .trips-center .img {
  display: flex;
  justify-content: center;
}
.trips .trips-center .img img {
  max-width: 100%;
  height: auto;
}

.where-to-go {
  background-color: #33292a;
  color: white;
  height: auto;
  padding-top: 50px;
  padding-bottom: 50px;
}
.where-to-go .where-center {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
.where-to-go .where-center .text-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
@media (max-width: 768px) {
  .where-to-go .where-center .text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
  }
}
.where-to-go .where-center .text-wrapper .title {
  flex: 1;
}
.where-to-go .where-center .text-wrapper .text {
  flex: 1;
  margin: 10px;
}
.where-to-go .where-center .button-wrapper {
  background-color: white;
  color: #33292a;
  padding: 10px;
  border-radius: 8px;
}
.where-to-go .where-center .button-wrapper:hover {
  background-color: #33292a;
  color: white;
  border: 1px solid white;
}

.reviews-center {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}
.reviews-center .review-about {
  width: 50%;
  text-align: center;
}
.reviews-center .reviews-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
@media (max-width: 768px) {
  .reviews-center .reviews-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
  }
}
.reviews-center .reviews-container .rev {
  text-align: center;
}
.reviews-center .reviews-container .rev .rev-pic img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 20px;
}
.reviews-center .reviews-container .name {
  font-weight: bold;
}

.imgs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: space-between;
  flex-wrap: wrap;
}
.imgs .img-container {
  width: 50%;
}
@media (max-width: 768px) {
  .imgs .img-container {
    width: 100%;
  }
}
.imgs .img-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.contacts {
  background-color: #33292a;
  height: 10vh;
}
.contacts .cont-container {
  text-align: center;
}
.contacts .cont-container a {
  display: inline-block;
  color: rgba(211, 205, 197, 0.2784313725);
  margin: 10px;
  font-size: 12px;
}
.contacts .cont-container div {
  color: white;
  font-size: 10px;
}/*# sourceMappingURL=style.css.map */